#body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Cardo', serif;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Cardo', serif;
}

body {
    padding-top: 50px;
}

/*----------------------------Background colors*/

.bg-color-jumbotron {
    background-color: #680000;
}

.bg-color-body {
    background-color: #970000;
}

/*----------------------------Navbar*/

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

/*----------------------------Jumbotron*/

.jumbotron-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 100%;

}


/*----------------------------Titles*/

h1.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fafafa;
}

h4.subtitle {
    font-family: "Montserrat", sans-serif;
    color: #ff9f9f;

}

h5.description {
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
}

h2.title {
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
    font-size: 41px;

}

p.description {
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
    font-size: medium;

}

/*----------------------------Links*/

.show-links li a:hover {
    color: #a15a5a;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.show-links li a {
    text-align: center;
    color: #ff9f9f;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


/*----------------------------Shows descriptions*/

.right {
    text-align: right;
    float: right;
}



/*----------------------------Reviews*/

h6.reviews {
    font-family: "Exo", sans-serif;
    color: #E1DEDE;
    font-size: 13px;
}

blockquote .small,
blockquote footer,
blockquote small {
    display: block;
    font-size: 70%;
    line-height: 1.42857143;
    color: #ffd7d7;
}

/*----------------------------Shows*/

ul {
    list-style-type: none;
}

/*----------------------------Book us*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 100%;
}

/*----------------------------Gallery*/

.title.highlight {
    -webkit-box-shadow: 0px 8px 56px 24px rgba(16, 16, 16, 1);
    -moz-box-shadow: 0px 8px 56px 24px rgba(16, 16, 16, 1);
    box-shadow: 0px 8px 56px 24px rgba(16, 16, 16, 1);
}

a.gallery-link,
a.gallery-link i {
    color: #ff9f9f;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a.gallery-link:hover,
a.gallery-link i:hover {
    color: #a15a5a;
    text-decoration: none;
}


/*----------------------------Footer*/

#footer-details {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.social-links {
    padding-bottom: 20px;
    display: flex;
}

.social-links li {
    display: inline-block;
    min-width: 160px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    color: #970000;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #424242;
}