@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #792248;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fafafa;
}

/* Nav------------------------- */

.bg-dark {
    background-image: url(/assets/seats.png);
}

.carousel {
  margin-bottom: 1rem;
  background: url("https://i.pinimg.com/564x/cf/76/bd/cf76bdae9074b5ba1786b46edf5345fe.jpg");

}
.carousel-caption {
  bottom: 1rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-color: #792248;
}
.carousel-item > img {
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  height: 32rem;
}

.col-xs-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  padding-left: 12px;
}

.col-xs-4 p {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 12px;
}
/*-----------------------------------Special paddings/margins/text*/



h2 {
  margin: 0;
  font-weight: 400;
} 

h1, 
h3, 
h4 {
 margin: 0;

}

.uppercase {
    text-transform: uppercase;    
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/* Featurettes------------------------- */

.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.05rem;
  padding-left: 12px;
}


/*-------------------------------------------------- Responsive CSS*/

@media (max-width: 767px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    padding-left: 12px  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    padding-left: 12px  }

  .featurette-heading {
    font-size: 50px;
}
}

@media (min-width: 992px) and (max-width: 1800px){
  .featurette-heading {
    margin-top: 7rem;
  }
}


/*-----------------------------------Footer*/

footer {
    background-color: #000000;
    font-weight: 400;
    min-height: 120px;
    margin: 0;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

.social-links li a i:hover{
    background: #000000;
    
}

#footer-details{
    margin: 20px;
    
}