
#body{
font-family: 'Montserrat', sans-serif;
font-family: 'Cardo', serif;
}
.body{
font-family: 'Montserrat', sans-serif;
font-family: 'Cardo', serif;
}
/*----------------------------Background colors*/

.bg-color-jumbotron{
    background-color: #680000;
}

.bg-color-body{
    background-color: #970000;
}

/*----------------------------Jumbotron*/
.jumbotron {
    padding-top: 90px;
    padding-bottom: 30px;
}

/*----------------------------Titles Jumbotron*/

h1.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fafafa;
}

h4.subtitle{
    font-family: "Montserrat", sans-serif;
    color: #ff9f9f;

}
h5.description{
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
}
    
    
/*----------------------------Titles Upcoming Shows*/

h1.shows{
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
    font-size: 41px;
}

h2.title{
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
    font-size: 41px;

}
h3.coming-shows-subtitle{
    font-family: "Cardo", sans-serif;
    color: #ff9f9f;
    style: none;

}
h4.coming-shows-subtitle{
    font-family: "Cardo", sans-serif;
    color: #ff9f9f;
    style: none; 
}

h7.description{
    font-family: "Montserrat", sans-serif;
    color: #e1dede;
    
}
/*h7.nameofshow{
    font-size: 41px
}


.lead-lg {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead-lg {
    font-size: 41px;
  }
}*/
/*----------------------------Links*/
@link-color: #fafafa;

.show-links li {
    margin-right: 20px;
    display: inline-block;

}

.show-links li a i{
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 50%;
    /*border:2px solid black;*/
    font-size: 20px;
    text-align: center;
    color: #970000;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

.show-links li a i:hover{
    background: #424242;
    
}

/*----------------------------Shows descriptions*/


.right {
    text-align: right;
    float: right;
}



/*----------------------------Reviews*/
h6.reviews{
    font-family: "Exo", sans-serif;
    color: #E1DEDE;
    font-size: 13px;
}

blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 70%;
    line-height: 1.42857143;
    color: #ffd7d7;
}

/*----------------------------Shows*/

ul {
  list-style-type: none;
}

/*----------------------------Book us*/


.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 65%;
}



/*----------------------------Footer*/


#footer-details{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.social-links{
    padding-bottom: 20px;
    display: flex;
  
}

.social-links li {
    margin-right: 20px;
    display: inline-block;

}

.social-links li a i{
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 50%;
    border:2px solid black;
    font-size: 20px;
    text-align: center;
    color: #970000;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

.social-links li a i:hover{
    background: #424242;
    
}

/*----------------------------Media Queries*/


@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }