@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*NOT LINKED YET, FIGURE OUT*/




/*----------------------------Background image*/
/*body {
    background-color: #BD0910;
background-image: url("https://i.pinimg.com/564x/ed/1a/09/ed1a09ac9305585733eadcee8472a868.jpg");
    background-repeat: no-repeat;
   background-position: right bottom ;
   background-size: 5em auto;
   background-attachment: fixed;
}*/
/*----------------------------Jumbotron*/

.jumbotron{
  padding: 3em;


/*----------------------------Main image*/

.img-responsive{
  width: 100%;


/*----------------------------Footer*/

.social-links{
    padding-bottom: 15px;
    display: flex;
  
}

.social-links li {
    margin-right: 10px;
    display: inline-block;

}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

.social-links li a i:hover{
    background: #000000;
    
}

#footer-details{
    padding: 20px;
    
}